<div class="nav-connect">

    {% if site.email %}
    <a target="_blank" href="mailto:{{site.email}}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    {% endif %}

    <a target="_blank" href="{{ "/feed.xml" | relative_url }}">
        <i class="fa fa-rss-square" aria-hidden="true"></i>
    </a>

    {% if site.linkedin_username %}
    <a target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.github_username %}
    <a target="_blank" href="https://github.com/{{site.github_username}}">
        <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.twitter_username %}
    <a target="_blank" href="https://twitter.com/{{site.twitter_username}}">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.lastfm_username %}
    <a target="_blank" href="https://www.last.fm/de/user/{{site.lastfm_username}}">
        <i class="fa fa-lastfm-square" aria-hidden="true"></i>
    </a>
    {% endif %}

</div>