html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
button:focus, input:focus {outline:0;}

.dark-bg ::selection {
  //background: $brand-color-dark;
  //color: white;
  background: white;
  color: black;
}
.dark-bg ::-moz-selection {
  //background: $brand-color-dark;
  //color: white;
  background: white;
  color: black;
}

.webcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}

.content {
  flex-grow: 1;
  background-color: $bg-color-dark;
  min-height: 100%;
  padding: $spacing-unit;
}







